# Test files and core dumps
test.*
vgcore.*
*.txt

# Binary executables and object code - they're useless for the delivery!
tecnicofs-*
!tecnicofs-*.h
!tecnicofs-*.c
*.o
*.zip

# Editor settings
.vscode

# Generated luatests
luatest_*